@import "tailwindcss";

@theme {
  --color-limin-primary: #FF6B35;
  --color-limin-secondary: #00B48D;
  --color-limin-accent: #FFC72C;
  --color-limin-dark: #2D2D2D;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}